@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('background.jpg');
  background-size: cover;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
}

.date {
  width: 40vw;
  margin-bottom: 6px;
}

.date-time {
  padding: 40px;
}

.search-bar {
  padding: 40px;
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}

.search {
  width: 180px;
  height: 10px !important;
  padding: 20px 14px;
  border-radius: 10px;
  border: none;
  font-family: 'Inter', sans-serif !important;
  font-size: 14px;
}

.search-btn {
  display: none;
}

.container {
  margin: 50px 0px;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 30px;
}

.item {
  width: 100%;
  max-width: 300px;
  padding: 20px 36px;
}

.bg-item {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px);
}

.day {
  font-size: 24px;
}

.temp-num {
  font-size: 60px;
}

.weather {
  margin-top: 6px;
}

.day,
.temp,
.city,
.weather,
.last-updated {
  line-height: 1.3;
}

i {
  padding-right: 10px;
}

@media (max-width: 300px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
  }

  .search-bar,
  .date-time {
    margin: 16px auto;
    height: 20px;
  }
}

@media (max-width: 780px) {
  body {
    background-size: cover;
  }
}
